
@import "@material/theme/color-palette";


$mdc-theme-primary:#0066ff;
$mdc-theme-secondary: #677868;

$mdc-theme-background: #ccd8eb;
$mdc-theme-surface: #acc5e2;

$mdc-theme-error: $material-color-red-900;


